# Dependencies
node_modules

# Build output
dist
dist-ssr
release

# Editor & OS
*.local
.DS_Store
.vite
*.log
*.sw?
.idea
.vscode/*
!.vscode/extensions.json
test-results/
*.tgz
*.zip

# Claude
.claude/
